<ion-header>
  <ion-toolbar>
    <ion-title>Hello {{userInfo?.email}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to FindEvent App
        <div style="text-align: center">
          <img class="img"
            src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/72363626_1373366046159787_7321439627741495296_n.png?_nc_cat=105&_nc_eui2=AeGNHZ-tYrI_jvFasoa7WevxtNpe0y_GNVUb4bdiNXAhZGa0hpGP9WOP3mSeDqFVJJDDJy6bmfJTQLC9nuYrpg04_R3K7rqliO3XTSLESJRSAQ&_nc_oc=AQk07qm2DgCKP_1lGdyNFVGVfUoTLaTE6FJXYDQbtvEL3dutSr_IMTgHb42C9NxJ92g&_nc_ht=scontent.fbkk2-8.fna&oh=2bdba3e92265cf8db4edcb1f14bce237&oe=5E3CFEFC"
            alt="" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        FullName : {{userInfo?.fullName}} <br>
        Email : {{userInfo?.email}} <br>
        Phone : {{userInfo?.phone}}
        <br>
        Address : {{userInfo?.address}}
        <br>
        <div style="text-align: center">
          <ion-button (click)="gotoUserDetail()">Details</ion-button>
          <ion-button (click)="logout()">Logout</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>